<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Express</title>
	<meta name="description" content="緯度経度から最寄り駅を表示させるサイトです。">
	<meta property="og:image" content="https://stark-temple-99964.herokuapp.com/ogp.png">
	
	<!--　Bootstrapの読み込み -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

	<!-- FontAwesomeの読み込み -->
	<script src="https://kit.fontawesome.com/bd60690b21.js" crossorigin="anonymous"></script>
	
	<!-- GoogleFontの読み込み -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
	
	<!-- cssの読み込み -->
	<link rel="stylesheet" href="./style.css">
	
	<!-- Faviconの読み込み -->
	<link rel="shortcut icon" href="/favicon.png">
</head>
<body>
	<div class="container-fluid">
		<div class="d-flex align-items-center justify-content-center search">
		    <form action="list" method="get" class="form-inline">
		        <input type="text" name="x" id="x" placeholder="x" class="form-control mx-2">
		        <input type="text" name="y" id="y" placeholder="y" class="form-control mx-2">
		        <button type="submit" value="検索"><i class="fas fa-search"></i></button>
		    </form>
		</div>
	</div>
	<h2 class="text-center my-5"><i class="fas fa-history"></i>検索履歴</h2>
	<div class="row d-flex justify-content-center">
		<% @histories.each do |history| %>
		<div class="card col-lg-2 m-1 card-station">
			<div class="card-body">
				<%= history.x %>, <%= history.y %>
				<div class="d-flex flex-row-reverse text-muted">
					<% if history.favorite %>
						<form action="<%= history.id %>/update" method="post">
							<button type="submit" value="解除"><i class="fas fa-heart heart"></i></button>
						</form>
					<% else %>
						<form action="<%= history.id %>/update" method="post">
							<button type="submit" value="お気に入り"><i class="far fa-heart text-muted"></i></button>
						</form>
					<% end %>
					<form action="<%= history.id %>/delete" method="post">
						<button type="submit"><i class="far fa-trash-alt text-muted"></i></button>
					</form>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<h2 class="text-center my-5"><i class="fas fa-heart"></i>お気に入り</h2>
	<div class="row d-flex justify-content-center">
		<% @favorites.each do |favorite| %>
		<div class="card col-lg-2 m-1">
			<div class="card-body">
				<%= favorite.x %>, <%= favorite.y %>
			</div>
		</div>
		<% end %>
	</div>
</body>
</html>
