<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>フォーム</title>
</head>
<body>
	<div>
		<div>
		    <form action="list" method="get">
		        <input type="text" name="x" id="x" placeholder="x">
		        <input type="text" name="y" id="y" placeholder="y">
		        <button type="submit">検索</button>
		    </form>
		</div>
	</div>
	<h2>検索履歴</h2>
	<div>
		<% @histories.each do |history| %>
		<div>
			<div>
				<%= history.x %>, <%= history.y %>
				<div>
					<% if history.favorite %>
						<form action="<%= history.id %>/update" method="post">
							<button type="submit">いいね解除</button>
						</form>
					<% else %>
						<form action="<%= history.id %>/update" method="post">
							<button type="submit">お気に入り</button>
						</form>
					<% end %>
					<form action="<%= history.id %>/delete" method="post">
						<button type="submit">[x]</button>
					</form>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<h2>お気に入り</h2>
	<div>
		<% @favorites.each do |favorite| %>
		<div>
			<div>
				<%= favorite.x %>, <%= favorite.y %>
			</div>
		</div>
		<% end %>
	</div>
</body>
</html>
